body {
    background-color: #84d6ff;
}

.labelStyle {
    font-family: 'Segoe UI';
    font-size: 16px;
    color: #ff006e;
    font-weight: bold;
}

.divConteudo {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #000;
}

.btnAction {
    color: #fff;
    background-color: #4bc715;
    border-style: groove;
    border-radius: 20px;
    font-weight:bold;
}
